# Practice Exercise - 03

### Question 1:

Convert the string given below into a list by taking each word separated by a comma as an element.

languages = "Java, Python, C++, Scala, C"

#### Expected Output:

['Java', ' Python', ' C++', ' Scala', ' C']

In [1]:
languages = "Java, Python, C++, Scala, C"

languages_list = languages.split(",")
print(languages_list)

['Java', ' Python', ' C++', ' Scala', ' C']

### Question 2:

We have a list of numbers given below. Add the element '10' at the 3rd position of the list and finally print the list.

num_list = [5, 6, 8, 7, 9]

#### Expected Output:

[5, 6, 8, 10, 7, 9]

In [4]:
num_list = [5, 6, 8, 7, 9]

num_list.insert(2, 10)
print (num_list)

[5, 6, 10, 8, 7, 9]

### Question 3:

Print all the multiples of 3 between 5 and 25.

#### Expected Output:

6
<br>9
<br>12
<br>15
<br>18
<br>21
<br>24

In [5]:
for x in range(5, 26):
    if x % 3 == 0:
        print(x)

6
9
12
15
18
21
24

### Question 4:

We have a list of numbers given below. Print the square of these numbers into another list using list comprehension.

num = [2, 4, 6, 8]

#### Expected Output:

[4, 16, 36, 64]

In [7]:
num = [2, 4, 6, 8]

num_squared = [x * x for x in num]
print (num_squared)

[4, 16, 36, 64]

### Question 5:

Print the first 10 natural numbers.

#### Expected Output:

1
<br>2
<br>3
<br>4
<br>5
<br>6
<br>7
<br>8
<br>9
<br>10

In [9]:
for x in range(1, 11):
    print(x)

1
2
3
4
5
6
7
8
9
10

### Question 6:

We have a tuple of numbers given below. Remove the largest number from the tuple and print it in sorted order.

num_tuple = (5, 8, 13, 2, 17, 1)

#### Expected Output:

[1, 2, 5, 8, 13]

In [10]:
num_tuple = (5, 8, 13, 2, 17, 1)

sorted_num = sorted(num_tuple)
sorted_num.pop()


print(sorted_num)

[1, 2, 5, 8, 13]

### Question 7:

Convert the list given below into a string using a comma as a separator argument.

myList = ['Lenovo', ' Dell', ' Acer', ' Asus', ' HP']

#### Expected Output:

'Lenovo, Dell, Acer, Asus, HP'

In [15]:
myList = ['Lenovo', ' Dell', ' Acer', ' Asus', ' HP']

myString = ','.join(myList)
print(myString)

Lenovo, Dell, Acer, Asus, HP

### Question 8:

Print all the even numbers between -10 and 0.

#### Expected Output:

-10
<br>-8
<br>-6
<br>-4
<br>-2

In [16]:
for x in range(-10, 0):
    if x % 2 == 0:
        print(x)

-10
-8
-6
-4
-2

### Question 9:

Reverse the integer given below.

n = 5623

#### Expected Output:

3265

In [21]:
n = 5623
print(int(str(n)[::-1]))

3265

### Question 10:

We have a list of numbers given below. Print the number, square of the number, and the cube of the number, all in a single list.

num = [2, 4, 6, 8]

#### Expected Output:

[(2, 4, 8), (4, 16, 64), (6, 36, 216), (8, 64, 512)]

In [23]:
num = [2, 4, 6, 8]

result = [(x, x*x, x**3) for x in num]
print (result)

[(2, 4, 8), (4, 16, 64), (6, 36, 216), (8, 64, 512)]